{% extends 'base.html' %}
{%load static%}
{%block metadescription%}
      Welcome to AgoraKart, where you can buy your clothing's
{% endblock %}
{%block title%}
    <div>
      {{category.name}}-AgoraKart
    </div>
{%endblock%}
{%block content%}
{%if not cart_items%}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center"> Your Shopping Cart is Empty</h1>
        <br>
        <p class="text-center"> Please Click<a href="{%url 'agorakartapp:allProdCat' %}"> Here</a>to continue shoppping </p>
    </div>
</div>
{%else%}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center">Your Shopping Cart</h1>
        <br>
    </div>
</div>

<div class="container text-center">
            <!-- Cart -->
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="col-lg-12 col-xs-12">
            <span class="title text-danger">SHOPPING CART</span>
        </div><br>
        <div class="col-lg-12 col-xs-12 ">
            <div class="table-responsive">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <td class="hidden-xs">Image</td>
                            <td>Product Name</td>

                            <td class="td-qty">Quantity</td>
                            <td>Unit Price</td>
                            <td>Sub Total</td>
                            <td>Remove</td>
                        </tr>
                    </thead>
                    {%for cart_item in cart_items%}
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                <a href="#">
                                    <img src="{{cart_item.product.image.url}}" alt="Age Of Wisdom Tan Graphic Tee" title="" width="47" height="47">
                                </a>
                            </td>
                            <td><a href="{{cart_item.product.get_url}}">{{cart_item.product.name}}</a>
                            </td>


                            <td>
                                {% if cart_item.quantity < cart_item.product.stock %}
                                <div class="input-group bootstrap-touchspin">
                                    <span class="input-group-btn">
                                        <a href="{% url 'cart:cart_remove' cart_item.product_id %}" class="btn btn-default bootstrap-touchspin-up " >-</a></span>
                                    <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                    <input type="text" name="" value="{{cart_item.quantity}}" class="input-qty form-control text-center" style="display: block;" readonly>
                                    <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                    <span class="input-group-btn"><a href="{%url 'cart:add_cart' cart_item.product.id%}" class="btn btn-default bootstrap-touchspin-up ">+</a></span>
                                </div>
                                {%else%}
                                <div class="input-group bootstrap-touchspin">
                                    <span class="input-group-btn">
                                        <a href="{% url 'cart:cart_remove' cart_item.product_id %}" class="btn btn-default bootstrap-touchspin-up " >-</a></span>
                                    <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                    <input type="text" name="" value="{{cart_item.quantity}}" class="input-qty form-control text-center " style="display: block;" readonly>
                                    <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                    <span class="input-group-btn disabled-button"><a href="#" class="btn btn-default bootstrap-touchspin-up disabled-button" >+</a></span>
                                </div>
                                {%endif%}

                            </td>
                            <td class="price">$ {{cart_item.product.price}}</td>
                            <td>$ {{cart_item.sub_total}}</td>
                            <td class="text-center">
                                <a href="{% url 'cart:full_remove' cart_item.product.id %}" class="remove_cart" rel="2">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                       {%endfor%}
                        <tr>
                            <td colspan="2" align="right">Total Quantity</td>
                            <td colspan="1" align="right">{{counter}}</td>
                            <td colspan="3" align="right">Total Price</td>
                            <td class="total" colspan="2"><b>$ {{total}}</b>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="btn-group btns-cart">
                <a href="{%url 'agorakartapp:allProdCat'%}" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Continue Shopping</a>

                <button type="button" class="btn btn-primary">Checkout <i class="fa fa-arrow-circle-right"></i></button>
            </div>

        </div>
    </div>
    <!-- End Cart -->

</div>
{%endif%}
{%endblock%}