{% extends 'base.html' %}
{%load static%}
{%block metadescription%}
  {% if category %}
    <div>
      {{category.description|truncatewords:150}}
    </div>
  {% else %}
      Welcome to AgoraKart, where you can buy your clothing's
  {% endif %}

{% endblock %}
{%block title%}
  {%if category %}
    <div>
      {{category.name}}-AgoraKart
    </div>
  {%else%}
    See Our New Collections-AgoraKart
  {%endif%}
{%endblock%}
{%block content%}
{%if category%}
<div class="container">
  <div class="text-center prod">
    <a href="{% url 'agorakartapp:allProdCat'%}">Our Product Collections</a>
  </div>
</div>
{%endif%}
{%if category%}
<div>
  <img src="{{category.image.url}}" width="100%" height="300px" alt="{{category.name}}">
</div>
<br>
<div>
  <h1 class="prod text-center">{{category.name}}</h1><br>

  <p class="prod ">{{category.description}}</p>
</div>
{%else%}
<div>
  <img src="{% static 'img/banner.jpg'%}"style="width: 100%; height: 200px" alt="Our Products">
</div>
<br>
<div class="container">
  <div class="cl-prod">
    <h1 class="text-center">Our Product Collections</h1>
    <br>
    <p >It's key to balance style and practicality when shopping for kid's dresses. Seek clothing that compliments your child's everyday activities while also contributing a touch of style. Ensure variety in the wardrobe so as not to bore your child with repeated styles. Facing the challenge of locating fashionable, relaxed, and apt outfits for a child's age isn't easy. When selecting kids Indian dresses, prioritize comfort while keeping style in mind. This strategy will ensure that your child remains interested in their wardrobe daily.</p>
  </div>
  </div>

{%endif%}
<div class="container-fluid">
  <div class="row">
    {% for product in products %}
      <div class="col-md-4 mb-4">
        <div class="card text-center" style="width: 18rem; height:360px">
          <a href="{{product.get_url}}">
            <img src="{{product.image.url}}" width="150px" height="200px" alt="{{product.name}}">
          </a><br>

          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.price}}</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>



{%endblock%}