

.centered-header {
    text-align: center;
    background-color:grey;
}

.oval-logo {
    display: inline-block; /* Ensures that the container only takes up the necessary width */
    border-radius: 50%; /* This creates a circular shape */
    overflow: hidden; /* Ensures the image is clipped to the oval shape */
}

.oval-logo img {
    width: 200px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%;
    object-fit: cover;
    display: block; /* Removes any extra spacing caused by inline-block */
    margin: 0 auto; /* Centers the image horizontally within its container */
}

